@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
a{
    text-decoration: none;
}

.active {
    color: rgba(255, 161, 53, 1);
}

html {
    font-family: 'Outfit', 'Inter', 'Jost', sans-serif;
    background-color: #000; 
    color:#fff;

}

*{
    padding: 0%;
    margin: 0px;
    box-sizing: border-box;
}
input:focus{
    border: 2px solid rgb(249, 252, 255) !important;
    outline: none;
}
li:hover{
    text-decoration: underline;
}
/* Hide scrollbar for all browsers */
.hide-scroll ::-webkit-scrollbar {
  display: none;
}
.hide-scroll  {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}


.team-member {
  width: 280px;
  text-align: center;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  visibility: hidden;
}

.team-member.card-active {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
}

